body  {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Libre Franklin", sans-serif;
}

h1.page-title {
  border-bottom: 1px solid $primary-xd;
}

.site-name,
.step-title,
.application-header {
  font-family: "Libre Franklin", sans-serif;
}
